<h1>Saudações aos fãs do Learning Spring Boot 3!</h1>
<p>
Nesse capítulo, estamos aprendendo como fazer uma aplicação web usando o Spring Boot 3.0</p>

<ul>
{{#videos}}
<li>{{name}}</li>
{{/videos}}
</ul>